name: "CI"
permissions:
  contents: read

on:
  push:

jobs:
  format:
    name: "Format and lint"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up uv
        id: setup-uv
        uses: astral-sh/setup-uv@v7
      - name: Format and lint
        run: uvx hatch fmt --check
      - name: Lint docstrings
        if: always() # Run even if previous step fails
        run: uvx pydocstringformatter --exit-code scripts tests visisipy

  test:
    name: "Test"

    strategy:
      matrix:
        python-version: [ "3.10", "3.11", "3.12", "3.13" ]
        os: [ windows-latest, ubuntu-latest, macos-latest ]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v5
      - name: Set up uv
        id: setup-uv
        uses: astral-sh/setup-uv@v7
      - name: Run tests
        run: uvx hatch test --python ${{ matrix.python-version }} ./tests --no-opticstudio
